
* {
	box-sizing:border-box;
}

header {
	padding: 30px 0;
}

.wrapper {
	min-height: calc(100vh - 50px);

}

.clearfix::after {

	content:"";
	display: table;
	clear:both;
}


#search {

	height:50px;
	padding: 10px;
	font-family: Arial, Verdana;
	width: 100%;

}

a {
	display: inline-block;
	margin-bottom:1em;
	opacity:  .4;
	transition-property; opacity;
	transition-duration: 1s;
}

a:hover {
	display: inline-block;
	margin-bottom:1em;
	opacity:  1;
}

.footer {
	padding: 10px 0;
	background-color: #ccc;
	height:50px;

}


@media (min-width: 320px) {

	.container {
		width: 62%;
		margin: 0 auto;
		max-width: 200px;

	}

}


@media (min-width: 768px){

	header .container {
		text-align: center;
	}

	.container {
		max-width: 768px;  	
		width: 90%;
	}

	a {
		display: inline-block;
	
	}

	.flex-container {

		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
	}

	#search {

	height:50px;
	padding: 10px;
	font-family: Arial, Verdana;
	max-width: 500px;
	width: 100%;

}

}

@media (min-width: 1024px) {

	.container {
		max-width: 1024px;  	
		width: 95%;
	}

	
	a {
		padding: 0 10px 10px 0;
	}

	a:nth-child(4n) {
		padding: 0 0px 10px 0;
	}



}